<%= image_tag(current_user.profile_picture) %>

<h1> <%= @user.name %>'s Profile </h1>

  <h6>Your info</h6>
<ul>
  <li><%= @user.name %></li>
  <li><%= @user.email %></li>
  <li>Member since: <%= @user.created_at %></li>

</ul>

<%= link_to 'Edit your profile', edit_user_registration_path %>
