<h1><%= @devtool.title %></h1>
  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to 'delete', @devtool, method: :delete %>
  <% end %>

<div> Dev Tool description <%= @devtool.body %> </div>
<div> Dev Tool's Github <%= link_to @devtool.github_link, @devtool.github_link %> </div>

<h1>Reviews</h1>
<div> <% @reviews.each do |review| %></div>
  <ul>
    <li><%= review.title %>
      <% if !current_user.nil? && current_user.admin? %>
        <%= link_to "delete #{review.title}", devtool_review_path(@devtool, review), method: :delete %>
      <% end %>
    </li>
    <li><%= review.body %></li>
    <li> <%= review.rating %></li>
  </ul>
<% end %>

<div><%= link_to 'New Review', new_devtool_review_path(@devtool) %></div>
