<h1><%= @devtool.title %></h1>
  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to 'delete', @devtool, method: :delete %>
  <% end %>

  <div> Dev Tool description <%= @devtool.body %></div>
  <div> Dev Tool's Github <%= link_to @devtool.github_link, @devtool.github_link %> </div>
  <p>
    Post's Average Rating: <%= @averageRate %> out of 5.0
  </p>

  <h1>Reviews</h1>

  <div> <% @reviews.each do |review| %></div>

    <li>
      Review title: <%= review.title %>
      <% if !current_user.nil? && current_user.admin? %>
        <%= link_to "delete #{review.title}", devtool_review_path(@devtool, review), method: :delete %>
      <% end %>
    </li>

    <li>Review Body: <%= review.body %></li>
    <li>Rating: <%= review.rating %></li>

  <% @upvote_array = [] %>
  <% @downvote_array = [] %>
  <% @votes = review.votes %>

    <% @votes.each do |vote| %>
      <% if vote.status == true %>
        <% @upvote_array << vote %>
      <% else %>
        <% @downvote_array << vote %>
      <% end %>
    <% end %>

    <% @upvotes = @upvote_array.length %>
    <% @downvotes = @downvote_array.length %>

    <div class="vote-buttons<%= review.id %>">
      <div id="upcount<%= review.id %>"><%= pluralize(@upvotes ||= 0, "upvote") %></div>
      <button type="button" name="upbutton" onClick="upvoteButton()" id="<%= review.id %>">upvote</button>

      <div id="downcount<%= review.id %>"><%= pluralize(@downvotes ||= 0, "downvote") %></div>
      <button type="button" name="downbutton" onClick="downvoteButton()" id="<%= review.id %>">downvote</button>
    </div>
    <div id="sum<%= review.id %>">sum of votes: <%= @upvotes.to_i - @downvotes.to_i %></div>
  <% end %>
<div><%= link_to 'New Review', new_devtool_review_path(@devtool) %></div>
