<h1>HELP</h1>

<h1><%= @devtool.title %></h1>

  <div> Dev Tool description <%= @devtool.body %></div>
  <div> Dev Tool's Github <%= @devtool.github_link %></div>

  <h1>Reviews</h1>
  <div> <% @reviews.each do |review| %></div>
    <li><%= review.title %></li>
    <li><%= review.body %></li>
    <li> <%= review.rating %></li>
    <% review.votes.each do |vote| %>
      <% if vote.status == true  %>
        <div><%= pluralize(review.votes.length, "upvotes") %></div>
        <% else %>
        <div><%= pluralize(review.votes.length, "downvotes") %></div>
      <% end %>
    <% end %>
    <div><%= button_to "upvote", upvote_review_path(review.id) %></div>
    <div><%= button_to "downvote", downvote_review_path(review.id) %></div>
  <% end %>

<div><%= link_to "New Review", new_devtool_review_path(@devtool) %></div>
