<h1><%= @devtool.title %></h1>

  <div> Dev Tool description <%= @devtool.body %></div>
  <div> Dev Tool's Github <%= @devtool.github_link %></div>

  <h1>Reviews</h1>
  <div> <% @reviews.each do |review| %></div>
    <li><%= review.title %></li>
    <li><%= review.body %></li>
    <li> <%= review.rating %></li>
    <% review.votes.each do |vote| %>
      <% if vote.status == true  %>
        <% @upvote = review.votes.length %>
        <% else %>
        <% @downvote = review.votes.length %>
      <% end %>

    <% end %>

    <div class="vote-buttons">
      <div id="upcount"><%= pluralize(@upvote ||= 0, "upvote") %></div>
      <%= button_to "upvote", upvote_review_path(review.id), class: 'upvoteButton' %>

      <div id="downcount"><%= pluralize(@downvote ||= 0, "downvote") %></div>
      <%= button_to "downvote", downvote_review_path(review.id), class: "downvoteButton" %>

    </div>
    <div id="sum">sum of votes: <%= @upvote.to_i - @downvote.to_i %></div>


  <% end %>

<div><%= link_to "New Review", new_devtool_review_path(@devtool) %></div>
