<h1><%= @devtool.title %></h1>
  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to 'delete', @devtool, method: :delete %>
  <% end %>

  <div> Dev Tool description: <%= @devtool.body %></div>
  <div> Dev Tool's Github<a href="<%=@devtool.github_link%>" </a><%=@devtool.github_link%></div>

  <h1>Reviews</h1>
  <% @count = 0  %>
  <div> <% @reviews.each do |review| %></div>
    <% @count += 1 %>
    <li>
      Review title: <%= review.title %>
      <% if !current_user.nil? && current_user.admin? %>
        <%= link_to "delete #{review.title}", devtool_review_path(@devtool, review), method: :delete %>
      <% end %>
    </li>
    <li>Review Body: <%= review.body %></li>
    <li>Rating: <%= review.rating %></li>
    <% review.votes.each do |vote| %>
      <% if vote.status == true  %>
        <% @upvote = review.votes.length %>
        <% else %>
        <% @downvote = review.votes.length %>
      <% end %>

    <% end %>

    <div class="vote-buttons<%= @count %>">
      <div id="upcount<%=@count%>"><%= pluralize(@upvote ||= 0, "upvote") %></div>
      <div><%= button_to "upvote", upvote_review_path(review.id), class: "upvoteButton", id: "#{@count}" %></div>

      <div id="downcount<%=@count%>"><%= pluralize(@downvote ||= 0, "downvote") %></div>
      <div><%= button_to "downvote", downvote_review_path(review.id), class: "downvoteButton", id: "#{@count}" %></div>
    </div>
    <div id="sum<%=@count%>">sum of votes: <%= @upvote.to_i - @downvote.to_i %></div>
  <% end %>
<div><%= link_to 'New Review', new_devtool_review_path(@devtool) %></div>
