<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="menu">
        <% if user_signed_in? %>
          <% unless current_user.profile_picture.blank? %>
          <%= image_tag(current_user.profile_picture.url(:thumb)) %>
          <% end %>
          <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
          <li> <%= link_to 'Your Profile', user_path(current_user) %>
        <% else %>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <li> <%= link_to 'Sign In', new_user_session_path %> </li>
        <% end %>
        <li><%= link_to "Home", root_path %></li>
  </nav>

    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <%= yield %>

  </body>
</html>
